@{
    ViewBag.Title = "Devolucón";
}

@model Frotend.ArchivoCentral.Micetur.Areas.Digitalizacion.Models.RecepcionModelView

<link href="~/assets/css/Grilla.css" rel="stylesheet" />
<script defer src="@Url.Content("~/Scripts/js/Remove.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Documento_Color.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Documento.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Lote.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Devolucion.js")" type="text/javascript"></script>

<link href="~/assets/css/Leyenda.css" rel="stylesheet" />
<script type="text/javascript" defer>
    $(document).ready(function () {
        Remove_RemoverClases("liDevolucion");

        $('#txtFechaInicio, #txtFechaFin').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            firstDay: 1,
            changeFirstDay: false,
            placeholder: "dd/MM/yyyy"
        });

        $('#txtFechaInicio').val(GetFecha());
        $('#txtFechaFin').val(GetFecha());

        $('#txtFechaInicio, #txtFechaFin').blur(function () {
            var id = this.id;
            if (this.value == "" || this.value.length == 0) {
                $('#' + id).focus();
            } else if (!validateDate(this.value)) {
                jOkas("Ingrese una fecha válida.", "Mensaje", function () {
                    $('#' + id).val('');
                    $('#' + id).focus();
                });

            }
        });

        $('#Devolver_btn_Buscar').click(function () {
            debugger;
            var fechaInicio = $('#txtFechaInicio').val();
            var fechaFin = $('#txtFechaFin').val();
            Devolver_Buscar_Fecha(fechaInicio, fechaFin);
        });
    });

</script>

<div id="Recepcion_busqueda" hidden="hidden" class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;">
    <h5>
        <img style="height: 20px" src="@Url.Content("~/assets/images/loading.gif")">
        Buscando registros...
    </h5>
</div>
<div class="modal fade" id="myModal_Documento_Ver_Imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="myModalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="tab-content">
    <ul id="myTab" class="nav nav-tabs tab-bricky">
        <li class="active">
            <a data-toggle="tab" href="#panel_tab_1" id="aTabPendientes">
                <i class="clip-spinner-2"></i> &nbsp;  Pendientes
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#panel_tab_2" id="aTabDevueltos">
                <i class="clip-file-check"></i>&nbsp;  Devueltos
            </a>
        </li>
    </ul>

    <div id="panel_tab_1" class="tab-pane active">
        <div class="col-sm-12 inline-container-Group">
            <div class="alert alert-info">
                <p>Listado de documentos agrupados por lote, que ya han sido digitalizados y aprobados por el Fedatario para devolver.</p>
            </div>
            <div class="row">
                <div class="col-sm-5" style="margin-bottom: 7px;margin-top: 7px">
                    <button id="Devolver_btnDevolver" class="btn btn-blue" type="button" data-toggle='modal'><i class="fa fa-save"></i>&nbsp; Devolver Documentos</button>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-3" style="padding-right:0px">
                    <fieldset style="width:100%; display:block;  margin: 0 2px 10px 2px; padding-top: 0.35em;padding-bottom: 0.625em;padding-left: 0.75em;padding-right: 0.75em;border: 1px groove;">

                        <legend style="font-size:small;display:block">Criterio de Busqueda</legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; color: black;">Fecha Inicio: </label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" maxlength="10" class="form-control" id="txtFechaInicio" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; color: black;">Fecha Fin: </label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" maxlength="10" class="form-control" id="txtFechaFin" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button id="Devolver_btn_Buscar" class="btn btn-blue" type="button"><i class=" clip clip-search"></i> Buscar</button>
                            </div>
                        </div>
                        
                    </fieldset>

                        <div class="Asignados_Lote_jqGrid">
                            <table id="Devolver_Lote_grilla"></table>
                        </div>
                        <div id="Devolver_Lote_barra"></div>

                    
                </div>
                <div class="col-sm-9">
                    <div class="Asignados_jqGrid">
                        <table id="Devolver_grilla"></table>
                    </div>
                    <div id="Devolver_barra"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="panel_tab_2" class="tab-pane">
        <div class="col-sm-12 inline-container-Group">
            <div class="alert alert-info">
                <p>Listado de documentos agrupados por lote y Devueltos, que ya han sido digitalizados y aprobados por el Fedatario.</p>
            </div>
            <div class="row">
                <div class="col-sm-4" style="padding-right:0px">
                    <div class="Asignados_Lote_jqGrid">
                        <table id="Devueltos_Lote_grilla"></table>
                    </div>
                    <div id="Devueltos_Lote_barra"></div>
                </div>
                <div class="col-sm-8">
                    <div class="Asignados_jqGrid">
                        <table id="Devueltos_grilla"></table>
                    </div>
                    <div id="Devueltos_barra"></div>
                </div>
            </div>
        </div>
    </div>
</div>
