@{
    ViewBag.Title = "Control Calidad";
}
<link href="~/assets/css/Grilla.css" rel="stylesheet" />
<script defer src="@Url.Content("~/Scripts/js/Remove.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Documento_Color.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Documento.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/DocumentoProceso.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Lote.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Aprobar.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/js/Microforma/Aprobados.js")" type="text/javascript"></script>

<link href="~/assets/css/Leyenda.css" rel="stylesheet" />
<script defer>

    $(document).ready(function () {
        Remove_RemoverClases("liControlCalidad");
        $('#txtFechaInicio, #txtFechaFin').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            firstDay: 1,
            changeFirstDay: false,
            placeholder: "dd/MM/yyyy"
        }).datepicker("setDate", 'now');
        $('#aprobado_btn_buscar').click(function () {
            Aprobados_buscar();
        });

        $('#txtFechaInicio, #txtFechaFin').blur(function () {
            var id = this.id;
            if (this.value == "" || this.value.length == 0) {
                $('#' + id).focus();
            } else if (!validateDate(this.value)) {
                jOkas("Ingrese una fecha válida.", "Mensaje", function () {
                    $('#' + id).val('');
                    $('#' + id).focus();
                });

            }
        });
    });

</script>

<div id="Recepcion_busqueda" hidden="hidden" class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;">
    <h5>
        <img style="height: 20px" src="@Url.Content("~/assets/images/loading.gif")">
        Buscando registros...
    </h5>
</div>

<div class="modal fade" id="myModal_Documento_Ver_Imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="tab-content">
    <ul id="myTab" class="nav nav-tabs tab-bricky">
        <li class="active">
            <a data-toggle="tab" href="#panel_tab_1" id="aTabAprobar">
                <i class="green fa fa-home"></i>
                Pendientes por Control de Calidad
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#panel_tab_2" id="aTabAprobados">
                Finalizados de Control de Calidad
            </a>
        </li>
    </ul>

    <div id="panel_tab_1" class="tab-pane active">
        <div class="col-sm-12 inline-container-Group">
            <div class="alert alert-info">
                <p>Listado de documentos pendientes de control de calidad</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="Aprobar_jqGrid">
                        <table id="Aprobar_grilla"></table>
                    </div>
                    <div id="Aprobar_barra"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="panel_tab_2" class="tab-pane">
        <div class="col-sm-12 inline-container-Group">
            <div class="alert alert-info">
                <p>Listado de documentos finalizados de control de calidad</p>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class=" inline-container-Group" style=" margin-bottom: 10px;">
                        <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Criterios de búsqueda: </p>
                        <fieldset style="width: 100%;">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label class="" for="comboEstadoDocumento" style="width: 100%; margin-top: 5px;">Estado</label>

                                    <select class="form-control" id="comboEstadoDocumento">
                                        @*<option value="">--SELECCIONE--</option>*@
                                        <option value="4">CONFORME</option>
                                        <option value="5">OBSERVADO</option>
                                        @*<option value="3">PENDIENTE</option>*@
                                    </select>
                                </div>

                                @*<div class="form-group col-sm-3">
                                        <label class="" for="txtNombreDocumento" style="width: 100%; margin-top: 5px;">Nombre Documento</label>
                                        <input type="text" id="txtNombreDocumento" name="txtComprobante" maxlength="13" class="form-control" style="width: 100%" />
                                    </div>*@

                                <div class="form-group col-sm-3">
                                    <label class="" for="txtFechaInicio" style="width: 100%; margin-top: 5px;">Fecha Inicio:</label>
                                    <input type="text" maxlength="10" class="form-control" id="txtFechaInicio" />
                                </div>

                                <div class="form-group col-sm-3">
                                    <label class="" for="txtFechaFin" style="width: 100%; margin-top: 5px;">Fecha Fin:</label>
                                    <input type="text" maxlength="10" class="form-control" id="txtFechaFin" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <button id="aprobado_btn_buscar" class="btn btn-blue" type="button"><i class="clip-search"></i>&nbsp Buscar</button>
                                    @*<button id="aprobado_btn_limpiar" class="btn btn-grey" type="button"><i class="clip-undo"></i>&nbsp Limpiar</button>*@
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="Aprobados_jqGrid">
                        <table id="Aprobados_grilla"></table>
                    </div>
                    <div id="Aprobados_barra"></div>
                </div>
            </div>
        </div>
    </div>
</div>

