@model Frotend.ArchivoCentral.Micetur.Areas.Digitalizacion.Models.MicroformaGrabaModelView
@{
    Layout = null;
}
<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />
<script>
    $(function () {
        $('#MICROFORMA_TIPO_PRUEBA').fastselect();
        $('#Microforma_Revision_Evaluar').click(function () {
            if ($('#FrmEvaluarRevision').valid()) {
                Revision_Grabar();
            }
        });
        $('#MICROFORMA_FLG_CONFORME').change(function () {
            if ($(this).val() == 1) {
                $('#InputActa').show('slow');
            } else
                $('#InputActa').hide();
        });
    });
</script>

<div class="modal-dialogMicroforma">
    <div class="modal-content" style="width:100%;">
        <div class="modal-header" style="cursor: move; background-color: #ca2626">
            <div class="col-sm-14">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"><i class='clip-new-tab'></i>&nbsp; Revisión Periodica </h4>
            </div>
        </div>
        <div class="modal-body">
            <fieldset style="width: 100%;">
                <div class="row">
                    <div class="col-sm-12">
                        @*<p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Ingresar los siguientes datos: </p>*@
                        <fieldset style="width: 100%;">
                            @using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, false, new { @id = "FrmEvaluarRevision", @class = "form-horizontal" }))
                            {
                                @Html.ValidationSummary(true)

                                <div class="col-sm-12 inline-container-Group">
                                    <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Evaluar: </p>
                                    <fieldset style="width: 100%;">
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="form-field-1">Conforme ?: </label>
                                                @Html.DropDownListFor(model => model.MICROFORMA_FLG_CONFORME, Model.Lista_MICROFORMA_ID_CONFORME, new { @class = "form-control", disabled = "true" })
                                                @Html.ValidationMessageFor(model => model.MICROFORMA_FLG_CONFORME, string.Empty, new { @class = "cssMessageError" })
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <label for="form-field-1">Tipo de Revisiónes: </label>
                                                @Html.DropDownListFor(model => model.MICROFORMA_TIPO_PRUEBA, Model.Lista_Tipo_Pruebas, new
                                                              {
                                                                  @class = "form-control",
                                                                  @multiple = "true",
                                                                  @placeholder ="Seleccione Tipos de Prueba"
                                                              })
                                                @Html.ValidationMessageFor(model => model.MICROFORMA_TIPO_PRUEBA, string.Empty, new { @class = "cssMessageError" })
                                            </div>
                                        </div>

                                        <div class="form-row" >
                                            <div class="form-group col-sm-12" id="InputActa">
                                                <label for="form-field-1">Acta Revisión: </label>
                                                <div class="input-group">
                                                    <div style=" height: 30px; margin-bottom: 5px;" class="form-control file-caption  kv-fileinput-caption">
                                                        <div class="file-caption-name" id="filenameRevision"></div>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <label for="fileActaRevision" class="btn btn-primary btn-file">
                                                            <i class=" clip-upload-3"></i>&nbsp; <span class="hidden-xs">Cargar …</span>
                                                            <input id="fileActaRevision" type="file" class="file" onchange="ProcesarArchivo(this,'filenameRevision')">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <label for="form-field-1">Observación: </label>
                                                @Html.TextAreaFor(model => model.MICROFORMA_OBSERVACION_EVALUAR, new { @class = "form-control", @maxlength = "1000", @style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.MICROFORMA_OBSERVACION_EVALUAR, string.Empty, new { @class = "cssMessageError" })
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            }
                        </fieldset>
                    </div>
                </div>
            </fieldset>
            <div class="modal-footer">
                <button type="button" id="Microforma_Revision_Evaluar" class="btn btn-blue"><i class="fa fa-save"></i> Evaluar Revisión</button>
                <button type="button" class="btn btn-light-grey" data-dismiss="modal"><i class="clip-close-4"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

