@model Frotend.Ventanilla.Micetur.Areas.Digitalizacion.Models.RecibirModelView
@{
    Layout = null;
}
<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />
<script defer src="@Url.Content("~/Scripts/js/Recepcion/Adjuntos.js")" type="text/javascript"></script>
<div class="modal fade" id="MyModalDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"></div>
<script type="text/javascript">
    $(document).ready(function () {
        Adjuntos_ConfigurarGrilla();
        Documento_ConfigurarGrilla();
        Documento_CargarGrilla(@Model.ID_EXPE);
        $('#ExpedienteBtnRecibir').click(function () {
            Expediente_Recibir(); 
        }); 
        $('#PESO_ARCHIVO').val(''); 
    });
    $('.modal-lg').draggable({
        handle: ".modal-header",
        cursor: "handler"
    });
</script>

<div class="modal-lg" style="margin:50px auto">
    <div class="modal-content" style="width:100%;">
        <div class="modal-header" style="cursor: move; background-color: #ca2626">
            <div class="col-sm-14">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"><i class='clip-new-tab'></i>&nbsp; Recibir Expediente Nro: @Model.ID_EXPE </h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 inline-container-Group" style="margin-bottom:15px;">
                        <p class="modal-title" style="color: #999; font-size: 20px; margin-bottom: 10px; margin-top: -5px">Agregar adjuntos al expediente: </p>
                        <fieldset style="width: 100%;">
                            @using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, false, new { @id = "FrmAdjunto", @class = "form-horizontal" }))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" for="form-field-1" style=" color: black;">Adjunto: </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.NOMBRE_ARCHIVO, new { @class = "form-control", @maxlength = "100" })
                                            <div class="input-group-append">
                                                <select id="TIPO_ADJUNTO" class="form-control">
                                                    <option value="1" selected>Link</option>
                                                    <option value="0">Archivo</option>
                                                </select>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NOMBRE_ARCHIVO, string.Empty, new { @class = "cssMessageError" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" for="form-field-1" style=" color: black;">Peso(Kb): </label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.PESO_ARCHIVO, new { @class = "form-control", @maxlength = "100" })
                                        @Html.ValidationMessageFor(model => model.PESO_ARCHIVO, string.Empty, new { @class = "cssMessageError" })
                                    </div>
                                    <label class="col-sm-2 control-label" for="form-field-1" style=" color: black;">Extensión: </label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.EXTENSION, new { @class = "form-control", @maxlength = "100", @placeholder = "Ejm: .pdf" })
                                        @Html.ValidationMessageFor(model => model.EXTENSION, string.Empty, new { @class = "cssMessageError" })
                                    </div>
                                </div>
                            }
                            @using (Html.BeginForm("Archivo", "Archivo", new { @area = "Administracion" }, FormMethod.Post, false, new { @id = "FrmArchivo" }))
                            {
                                <div class="form-group row" id="ControlFile" style="display:none;">
                                    <label class="col-sm-2 control-label" for="form-field-1" style="color: black;">Cargar: </label>
                                    <div class="col-sm-10">
                                        <label for="filearchivo" class="btn  btn-file" style="width: 100%; border-color: #4b4b4d; color: #4b4b4d">
                                            <i class=" clip-upload-3"></i>&nbsp; <span class="hidden-xs">Cargar Archivo …</span>
                                            <input type="file" id="filearchivo" name="filearchivo" class="file" onchange="ValidarArchivoTemporal(this)">
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="form-field-1" style="color: black;"></label>
                                <div class="col-sm-10">
                                    <button type="button" id="BtnAgregarAdjunto" class="btn btn-red"><i class="clip-plus-circle-2"></i>&nbsp; Agregar</button>
                                </div>
                            </div>
                            <div class="Adjuntos_jqGrid">
                                <table id="Adjuntos_grilla"></table>
                                <div id="Adjuntos_barra"></div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-sm-12 inline-container-Group">
                        <p class="modal-title" style="color: #999; font-size:20px; margin-bottom: 10px; margin-top: -5px">Documentos del Expediente: </p>
                        <fieldset style="width: 100%;">
                            <div class="Documento_jqGrid">
                                <table id="Documento_grilla"></table>
                                <div id="Documento_barra"></div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ExpedienteBtnRecibir" class="btn btn-blue"><i class="fa fa-save"></i> Recibir</button>
                <button type="button" class="btn btn-light-grey" data-dismiss="modal"><i class="clip-close-4"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("HDF_ID_EXPE", Model.ID_EXPE)


