@model Frotend.Ventanilla.Micetur.Areas.Digitalizacion.Models.MicroArchivoModel
@{
    Layout = null;
}
<link href="~/assets/css/Microforma/Formato.css" rel="stylesheet" />
<link href="~/assets/css/Microforma/Modals.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        MicroArchivo_GetOne(@Model.ID_MICROFORMA); 
        MicroArchivo_HistorialConfigurarGrilla("MicroArchivoHistorial_grilla", "MicroArchivoHistorial_barra");
        MicroArchivo_HistorialCargarGrilla("MicroArchivoHistorial_grilla"); 
    });
</script>
@using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, false, new { @id = "FrmMicroformaGrabar" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog " style="width:800px;">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header" style="cursor: move; background-color: #ca2626">
                <div class="col-sm-14">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">× </button>
                    <h4 class="modal-title"><i class='clip-new-tab'></i>&nbsp; Microarchivo </h4>
                </div>
            </div>
            <div class="modal-body">
                <fieldset style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12 inline-container-Group" style="margin-bottom:5px;">
                                <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Datos del Microarchivo: </p>
                                <fieldset style="width: 100%;">
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Tipo Micro Archivo: </label>
                                            @Html.DropDownListFor(model => model.MA_TIPO_ARCHIVO, Model.Lista_TipoMicroArchivo, new { @class = "form-control", disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_TIPO_ARCHIVO, string.Empty, new { @class = "cssMessageError" })
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Dirección: </label>
                                            @Html.TextBoxFor(model => model.MA_DIRECCION, new { @class = "form-control", @maxlength = "100", @style = "width:100%;text-transform: uppercase;", disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_DIRECCION, string.Empty, new { @class = "cssMessageError" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Fecha: </label>
                                            @Html.TextBoxFor(model => model.MA_FECHA, new { @class = "form-control", @maxlength = "100", @style = "width:100%", @disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_FECHA, string.Empty, new { @class = "cssMessageError" })
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Hora: </label>
                                            @Html.TextBoxFor(model => model.MA_HORA, new { @class = "form-control", @maxlength = "100", @style = "width:100%", @placeholder = "DD/MM/YYYY", @autocomplete = "off", disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_HORA, string.Empty, new { @class = "cssMessageError" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Responsable: </label>
                                            @Html.TextBoxFor(model => model.MA_RESPONSABLE, new { @class = "form-control", @maxlength = "100", @style = "width:100%", @disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_RESPONSABLE, string.Empty, new { @class = "cssMessageError" })
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="form-field-1">Observación: </label>
                                            @Html.TextAreaFor(model => model.MA_OBSERVACION, new { @class = "form-control", @maxlength = "100", @style = "width:100%", @autocomplete = "off", disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.MA_OBSERVACION, string.Empty, new { @class = "cssMessageError" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <a href="javascript:void(0)" id="MicroArchivoActa" class="btn btn-link" download-file="yes" data-file=""><i class="clip-download"></i>&nbsp; Descargar Acta Almacenamiento</a>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12" style="padding:0px;">
                                <div class="jqGrid">
                                    <table id="MicroArchivoHistorial_grilla">
                                    </table>
                                    <div id="MicroArchivoHistorial_barra"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-grey" data-dismiss="modal"><i class="clip-close-4"></i> Cerrar</button>
                </div>
            </div>
        </div>
        @Html.Hidden("HDF_ID_MICROFORMA",Model.ID_MICROFORMA)
    </div>
}



